body {
    font-family: 'EB Garamond', serif;
    background-color: #E6EBE8;
}

html {
    height: 100%;
    width: 100%;
}

/* Navbar */

.nav.navbar.sticky-top.navbar-expand-lg.bg-body-tertiary {
    background-color: red;
}

/* Buttons */

.btn {}

/* Callout */

.callout-container .transparent {
    background-color: rgba(800, 800, 800, 0.5);
}

.callout-container {
    height: 100vh;
    background: url(../css/images/pixabay-man-beard-guitar.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Bio */

.bio-container {
    text-align: center;
}

.bio-container .heading {
    color: #6E8F7A;
}

/* Features */

.features-container {
    text-align: center;
    margin-bottom: 5em;
}

.features-container .heading {
    color: #6E8F7A;
}

.features-container .feature-segment {
    margin-bottom: 3rem;
}

/* Events */

a.list-group-item.list-group-item-action {
    background-color: #E6EBE8;
}

ul.list-group.list-group-item {
    border-color: #808580;
}

.events-container .accordion-header .accordion-button {
    background-color: #808580;
}

.events-container .accordion-body {
    background-color: #808580;
}

.events-container {
    color: #6E8F7A;
    text-align: center;
    margin-bottom: 5em;
}

/* Footer */

.footer-container {
    text-align: center;
}

.footer-container .list-group {
    text-align: center;
}

footer .social a .fa-brands {
    color: #26272B;
}

footer .social a:hover .fa-brands {
    color: #808580;
}