body {
    font-family: 'EB Garamond', serif;
    background-color: #E8E5E1;
    font-size: larger;
}

html {
    height: 100%;
    width: 100%;
}

img {
  width: 100%; /* or max-width: 100%; */
  height: auto;
}

/* Modal */

#signupModal>div>div>div.modal-body>div>div>div>div>form {
    padding: 12px 20px;
    margin: 8px 0;
}

#signupModal>div>div>div.modal-body>div>div>div>div>form>input.btn.btn-primary {
    padding: 16px 32px;
    margin-top: 4px;
}

.modal-flex-input {
    display: flex;
    justify-content: center;
}

h1.modal-title.fs-5 {
    font-weight: bold;
}

input[type=email] {
    width: 100%;
}

/* Navbar */

.navbar>.container-fluid {
    justify-content: flex-start;
}

#navbar-button-div {
    margin-left: auto;
}

.navbar.navbar-container {
    font-size: x-large;
    font-weight: bold;
    letter-spacing: 1px;
}

.guitar-link i {
    color: #A08E76;
}

.guitar-link i:hover {
    color: #26272B;
}

/* Buttons */

#navbarNav>ul>li:nth-child(4) {
    margin-right: auto;
    align-self: center;
}

button.btn-contact#contact {
    background-color: #A08E76;
    border-color: #776E64;
    text-decoration: underline;
}

.btn-contact,
.btn-callout {
    background-color: #A08E76;
    border-color: #776E64;
}

.btn-contact:hover,
.btn-callout:hover {
    background-color: #26272B;
    border-color: #20150E;
}

.btn-primary:not(:disabled):not(.disabled):focus {
    background-color: #D7B796;
    border-color: #A08E76;
}

/* Block Dividers */

/* Callout */

.callout-container h1 {
    font-size: 60px;
    letter-spacing: 3px;
}

.callout-container .transparent {
    background-color: rgba(86, 46, 45, 0.5);
}

.callout-container {
    height: 100vh;
    background: url(../css/images/pixabay-man-beard-guitar.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

/* Bio */

.bio-container {
    text-align: center;
    margin-bottom: 5em;
}

.bio-container .heading {
    color: #A08E76;
}

/* Features */

.features-container {
    text-align: center;
    margin-bottom: 5em;
}

.features-container .heading {
    color: #A08E76;
}

.features-container .feature-segment {
    margin-bottom: 3rem;
}

/* Events */

.accordion-button:focus {
    box-shadow: none;
    border-color: rgba(0, 0, 0, .125);
}

a.list-group-item.list-group-item-action {
    background-color: #E6EBE8;
}

ul.list-group.list-group-item {
    border-color: #A08E76;
}

.events-container .accordion-header .accordion-button {
    background-color: #56302D;
    color: #D7B796;
}

.events-container .accordion-body {
    background-color: #56302D;
}

.events-container {
    color: #A08E76;
    text-align: center;
    margin-bottom: 5em;
}

/* Footer */

.footer-container a {
    letter-spacing: 30px;
}

.footer-container {
    text-align: center;
}

.footer-container .list-group {
    text-align: center;
}

footer .social a .fa-brands {
    color: #20150E;
}

footer .social a:hover .fa-brands {
    color: #808580;
}

/* Contact Form */

body>div>div>div.col-md-6.form-block>div>form>div:nth-child(1) {
    padding-bottom: 10px;
}

body>div>div>div.col-md-6.form-block>div>form>div:nth-child(2) {
    padding-bottom: 10px;
}

body>div>div>div.col-md-6.form-block>div>form>div:nth-child(3) {
    padding-bottom: 10px;
}

.faded-text {
    color: black;
    opacity: 0.5;
}

.form-container {
    margin-bottom: 60px;
    margin-top: 60px;
}

.form-block {
    margin-bottom: 50px;
}

input[type=text],
select,
textarea {
    width: 100%;
}

input[type=email],
select,
textarea {
    width: 100%;
}

input[type=submit] {
    background-color: #A08E76;
    border-color: #776E64;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #26272B;
}

.form-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}